{% extends 'base.html' %}
{% block title %} Meek | Products {% endblock  %}
{% block content %}
{% include 'partials/_navbar.html' %}

<div class="container">
    <div class="row justify-content-center">
    {% for product in object_list %}
        <div class="col-md-4 col-sm-4">
            <a href="{% url 'product:product-detail' product.id%}" style="text-decoration:none">
                <div class="card shadow" style="" >
                    <img class="card-img-top" src={{product.image_primary.url}} alt="{{product.style_name}}" style="width:100%" width="21rem" height="233rem">
                    <div class="card-body">
                        <h4 class="card-title text-dark font-weight-bolder" style="font-size: 13pt; margin-top: -5pt; margin-bottom: -1pt">{{product.style_name}}</h4>
                        <p class="card-text text-dark font-weight-bold" style="font-size: 11pt; margin-bottom: -13pt;">{{product.composition}}</p>
                    </div>
                </div>
            </a>
            <br>
        </div>
    {% empty %}
        <div class="jumbotron bg-secondary text-white">
            <h3>No Product has been added yet</h3>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}
