<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2 shadow">
  <a class="navbar-brand" href="{% url 'product:product-list' %}">Meek | Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'product:category-details' 1 %}">Cardigan</a>
          <a class="dropdown-item" href="{% url 'product:category-details' 2 %}">Pullover</a>
          <a class="dropdown-item" href="{% url 'product:category-details' 3%}">Vest</a>
          <div class="bg-danger"><hr/></div>
          <a class="dropdown-item" href="#">More</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTwo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gender
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownTwo">
          <a class="dropdown-item" href="#">Man</a>
          <a class="dropdown-item" href="#">Woman</a>
          <a class="dropdown-item" href="#">Kids</a>

          <div class="bg-danger"><hr/></div>
          <a class="dropdown-item" href="#">More</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'product:search' %}">
      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>